<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USEFUL TIPS</title>
    <link rel="icon" href="C:\Users\omen laptop\Desktop\generateur cv\elements\logomini.png">
    <link rel="stylesheet" href="css\arstyle.css">
</head>

<body>
    <header>
        <img src="C:\Users\omen laptop\Desktop\generateur cv\elements\logo2.png" align="left" width="300 px" height="100 px" >
        <img src="C:\Users\omen laptop\Desktop\generateur cv\elements\toggle-button2.png" align="right" width="100 px" height="100 px" onclick="myFunction()">
    </header>
  </br>
 </br>
 </br>
 </br> </br> </br>
    <div class="cadre">
       <U> <h2 underlined>بعض النصائح لمساعدتك على وصف خبراتك</h2></U>
       <img class="left" src="C:\Users\omen laptop\Desktop\generateur cv\elements\confused girl.png" width="225" height="300" style="float:right;margin:0 900px 0 20px;" />
         <p>احرص أن تبدأ الترتيب بأحدث خبراتك لا أقدمها </p>
         <br>
         <p> لا تنسى أن تدكر تاريخ البداية والنهاية لكل تجربة</p>
         <br>
        <p>تجنب استعمال ضمائر المتكلم مثل 'أنا</p>
        <br>
         <p>احرص أن تكون موضوعيا في وصفك عبر عدم تصريف الأفعال ونسبها لداتك </p>
         <br>
         <div style="clear:both"></div>
          
    </div>    
 
    <footer>
        <a href="arformp2.html"><input type="button" value="واصل"></a> &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
        <a href="arformp4.html"><input type="button" value="رجوع"></a>
        
    </footer>
    <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("darkmode");
        }
        </script>
</body>

</html>