<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERSONAL DETAILS</title>
    <link rel="icon" href="elements\logomini.png">
    <link rel="stylesheet" href="css\arstyle.css">
</head>

<body align="right">
    <header>
        <img src="elements\logo2.png" align="left" width="300 px" height="100 px" >
        <img src="elements\toggle-button2.png" align="right" width="100 px" height="100 px">
    </header>
</br>
</br>
</br>
</br> </br> </br>
    <div class="cadre">
        <h2 > الاحداثيــــَات</h2></br>
        <p> الرَجاء ملء الخانــات ليتمكَن المنتدبون من التَواصل معك</p>
        
        <div class="form">
            <form method="POST"> 
                 <label for="name">الاسم و اللَقب</label><br>
                <input type="text" id="name" name="name" value="مثال.فلان بن فلان">
               
            </br></br> </br>
              <label for="adress">العنوان</label><br>
                <input type="text" id="adress" name="adress" value="مثال.شارع الامان">
              
            </br></br> </br>
            <div class="forma4">
                <label for="poste">التَرقيم البريدي</label><br>
                <input type="text" id="town" name="town" value=" مثال.منوبة">
                     
                    <label for="town">المديـنة</label>
                    <input type="text" id="poste" name="poste" size="4" value=" مثال. 8010">
                   
                </br>
            </br> </br>
                 <label for="phone">رقم الهاتف</label><br>
            <input type="email" id="mail" name="mail" value=" مثال. foulen@domaine.tn">
                   <label for="mail">البريد الالكتروني</label>
                    <input type="text" id="phone" name="phone" value=" مثال. 99584021">
                    
                    
                </br>
            </div>
                </form>
        </div>
        
    </div>    
</br> </br> </br> </br>
    <footer>
        <a href="formp0.html"><input type="reset" value="الرُجــوع"></a>
        <a href="arformp2.html"><input type="submit" value="واصــل"></a>

    </footer>
</body>
</html>