<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الشهائد</title>
    <link rel="icon" href="elements\logomini.png">
    <link rel="stylesheet" href="css\arstyle.css">
</head>

<body>
    <header>
        <img src="elements\logo2.png" align="left" width="300 px" height="100 px" >
        <img src="elements\toggle-button2.png" align="right" width="100 px" height="100 px" onclick="myFunction()">
    </header>
</br>
</br>
</br>
</br> </br> </br>
    <div class="cadre">
        <h2> الشهائد</h2>
       
        <div class="form">
            <form method="POST"> 
                <label for="certificate">الشهادة</label><br>
                <textarea id="certificate" name="certificate" rows="1" cols="46"></textarea>
             </br>
             <div class="forma4">
                <label for="duration">المدة</label><br><br>
                <p> الأيام</p> 
                <select><option value="0">0</option><option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="2">22</option>
                    <option value="3">23</option>
                    <option value="4">24</option>
                    <option value="5">25</option>
                    <option value="6">26</option>
                    <option value="7">27</option>
                    <option value="8">28</option>
                    <option value="9">29</option>
                    <option value="10">30</option>
                </select> &nbsp; 
                <p> الأشهر </p>
                <select><option value="0">0</option><option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>&nbsp; 
                    &nbsp; 
                  <br>
            <input type="checkbox" id="noend" name="noend">
             <label for="noend">لم ينتهي بعد </label>
             <h3>وصف التجربة</h3>
             <textarea id="description" name="description" rows="5" cols="46"></textarea><BR><br>
             <a href="arformp12.html"><input type="submit" value="أضف شهادة أخرى"></a>
             <a href="arformp12.html"><input type="submit" value="سجل"></a>
            </div>
            </form>
        </div>
        
    </div>    
</br> </br></br> 
    <footer>
        <a href="arformp11.html"><input type="reset" value="رجوع"></a> &emsp; &emsp;&emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
        <a href="arformp13.html"><input type="submit" value="واصل"></a>

    </footer>
    <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("darkmode");
        }
        </script>
</body>
</html>