<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modèle</title>
    <style>
        .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
    </style>
</head>
<body>
    <div class="cadre">
        <h2>هده الأمثلة التي تناسبك</h2>
        <h2>الرجاء اختيار واحد منها</h2>
<hr>
        <div class="form">
            <div class="row">
                <div class="column">   
            <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure></div>
        <figure>
            <div class="column">   
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure> </div>
      
        <div class="column">   
          <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption>
        </figure>
        </div>
        </div>
        </div>

        <div class="form">
            <div class="row">
                <div class="column">   
            <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure></div>
        <figure>
            <div class="column">   
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure> </div>
      
        <div class="column">   
          <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption>
        </figure>
        </div>
        </div>
        </div>

        <div class="form">
            <div class="row">
                <div class="column">   
            <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure></div>
        <figure>
            <div class="column">   
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption> 
        </figure> </div>
      
        <div class="column">   
          <figure>
            <img src="cv.jpg" alt="cv" align="left" width="100" border="1"><br><br><br><br><br><br><br><br><br>
           <figcaption> <input type="checkbox" id="img1" name="img1">
            <label for="choisir">اختيار</label></figcaption>
        </figure>
        </div>
        </div>
        </div>
    </div>
</body>
</html>