<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOBBIES</title>
    <link rel="icon" href="./../static/elements/logomini.png">
    <link rel="stylesheet" type="text/css" href="./../static/css/styletwo.css">

</head>

<body>
    <header>
        <img src="./../static/elements/logo3.png" class="image1">
        <div class="image2">
            <img src="./../static/elements/effect2.png" alt="logo_cv">
        </div>
        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider_round" onclick="myFunction()"></span>
            </label>
        </div>
    </header>
    <div class="cadre">
        <h2> Hobbies</h2>

        <div class="form">
            <form method="POST">{% csrf_token %}
                <label for="hobbies">What your hobbies and pastimes?</label><br><br>

                <textarea id="skill" name="skill" rows="40" cols="49"></textarea>
                </br></br>



                </br></br>
        </div>
    </div>
    </div>


    <div class="boutons">
        <button class="back" onclick="javascript:window.location.href='engformp8.html';">Back</button>
        <input type="submit" value="Add" align="center">
        <button class="next" type="submit"><a href="engformp10.html">Next</a></button>

    </div>
    </form>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("darkmode");
        }
    </script>
</body>

</html>