<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie associative</title>
    <link rel="icon" href="elements/logomini.png">
        <link rel="stylesheet" type="text/css" href="css/styleone.css">
</head>

<body>
    <header>
        <img src="elements/logo3.png" class="image1">
        <div class="image2">
            <img src="elements/effect2.png" alt="logo_cv">
        </div>
        <div class="toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round" onclick="myFunction()"></span>
            </label>
        </div>
    </header>
    <div class="cadre">
        <h2>Vie associative</h2>
       
        <div class="form">
            <form method="POST">
                <label for="degree">Poste</label>
                <textarea id="degree" name="degree" rows="1" cols="46"></textarea>
                </br>
                <div class="forma4">
                    <div class="StartEnd">
                        <label for="establishment">Association</label>
                        <input type="text" id="Establishment" name="Establishment">
                    </div>
                    <div class="StartEnd">
                        <label for="town">Ville/Pays :</label>
                        <input type="text" id="town" name="town">
                    </div>
                    </br>
                    <div class="StartEnd">
                        <label for="start">Date de début : </label>
                        <input type="date" id="start" name="start">
                    </div>
                    <div class="StartEnd">
                        <label for="end">Date de fin</label>
                        <input type="date" id="start" name="start">
                    </div>
                    </br>
                    <div class="pres">
                        <label for="noend">Présent </label>
                        <input type="checkbox" id="noend" name="noend"><br>
                    </div>
                    <label>Description</label>
                    <textarea id="description" name="description" rows="5" cols="46"></textarea><BR><br>

                    </br>

                </div>
        </div>
    </div>

    <div class="boutons">
        <button class="back" onclick="javascript:window.location.href='frformp10.html';"><span>Retour</span></button>
          <button class="sub" type="submit">Envoyer</button>
        <button class="next"><a href="frformp12.html">Suivant</a></button>
    </div>
</form>



    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("darkmode");
        }
    </script>
</body>
</html>